.searchform {
	margin: 2em 0;

	div {
		display: flex;
	}

	#s {
		font-size: 1.2em;
		padding: 0.25em;
		margin-bottom: 0;
		border-right: none;
		border-color: #bbb;
	}

	#searchsubmit {
		border-color: #bbb;
		font-size: 1.2em;
		padding: 0.25em 0.75em;
		margin-bottom: 0;
		position: relative;
		text-transform: uppercase;
		font-weight: bold;
	}
}

.search-results {
	.search-section {
		display: flex;
		flex-flow: wrap;
	}

	.search-section-title {
		margin-top: 1em;
		margin-bottom: 0.5em;
		padding: 1em;
		background-color: rgba($color: #000000, $alpha: 0.05);
		width: 100%;
	}
	& .search-section:first-child .search-section-title {
		margin-top: 0;
	}

	.search-item {
		// flex: 1 150px;
		width: 50%;
		text-align: center;
		padding: 1em;

		img {
			display: block;
			margin-bottom: 0.5em;
		}

		h4 {
			font-size: 1em;
			font-weight: bold;
			margin: 0;
			line-height: 1.2;
		}

		@media (min-width: 36rem) {
			width: 33.33%;
		}

		@media (min-width: 40rem) {
			width: 25%;
		}

		@media (min-width: 52rem) {
			width: 20%;
		}

		@media (min-width: 64rem) {
			width: 16.5%;
		}
	}

	& .search-section-post,
	& .search-section-page {
		.search-item {
			flex: none;
			padding: 0.5em 1em;
			text-align-last: left;
			width: 100%;

			h4 {
				padding-bottom: 0;
			}

			img {
				display: none;
			}
		}
	}

	.search-pages {
		margin: 2em 0;
		text-align: center;
	}
}
